{{ define "main" }}
    
  <h1>{{ .Site.Title }}</h1>

  <section>
    <article>
      {{ .Content }}
    </article>
  </section>

  <section>
    <h2>Blog posts</h2>
    {{ $posts := slice }}
    {{ range ($.GetPage "blog").RegularPages }}
      <article>
        <hgroup>
          <h3>{{ .Title }}</h3>
          <p><time datetime="{{ .Date }}">{{ .Date.Format "January 2006" }}</time></p>
        </hgroup>
        <p>{{ .Summary }}</p>
        <footer>
          <a href="{{ .Permalink }}">Read full post</a>
        </footer>
      </article>
    {{ end }}
  </section>

  <section>
    <h2>Side projects</h2>
    {{ $pages := slice }}
    {{ range (where (readDir "content") ".IsDir" true) }}
      {{ if and (ne .Name "blog") (ne .Name "gallery") }}
        {{ with $.GetPage .Name }} {{ $pages = $pages | append . }} {{ end }}
      {{ end }}
    {{ end }}

    {{ range sort $pages ".Date" "desc" }}
        <article>
          <hgroup>
            <h3>{{ .Title }}</h3>
            <p>
              <time datetime="{{ .Date }}">{{ .Date.Format "January 2006" }}</time>
              {{ range .Params.techs | sort }}<span class="pill">{{ . }}</span>{{ end }}
            </p>
          </hgroup>

          <p>{{ .Content }}</p>
          <footer>
            {{ range $title, $url := .Params.links }}
              <a href="{{ $url }}">{{ $title | humanize }}</a>
            {{ end }}
          </footer>
        </article>
    {{ end }}
  </section>
{{ end }}